%h3 Samples

-if params[:show_all]
    =link_to("Hide Retired Samples", samples_url())
-else
    =link_to('Show Retired Samples', samples_url(params: {show_all: true}))
%table.table.table-striped.table-condensed.table-bordered
    %thead
        %tr
            %th.span1 Barcode
            %th.span1 Name
            %th.span1 Taxon
            %th.span1 Container
            %th.span2 Tags
            %th.span1 Retired?
            %th.span2 &nbsp;
    %tbody
        -for sample in @samples
            %tr
                %td=sample.barcode.barcode
                %td=link_to(sample.name, sample)
                %td=sample.taxon.try(:scientific_name)
                %td
                    -if sample.container
                        =link_to sample.container.label, container_url(sample.container)
                    -else
                        %i None
                %td=format_tags(sample.tags)
                %td= sample.retired? ? "yes" : "no"
                %td
                    =link_to "Show", sample_path(sample), class: 'btn'
                    - if can?(:edit, sample)
                        =link_to "Edit", edit_sample_path(sample), class: 'btn btn-success'
                    -if can?(:destroy, sample) and ! sample.retired
                        = link_to "Retire", sample_path(sample), method: 'delete', class: 'btn btn-danger'
=will_paginate(@samples, params: params)

= link_to "Create a new Sample", new_sample_path, class: 'btn btn-primary btn-large'
