%h3= @sample_characteristic.name

%table.table.table-bordered
    %tr
        %th Source Sample
        %td
            -sample = @sample_characteristic.sample
            =link_to sample.name, sample_url(sample)
    %tr
        %th.span3 Name
        %td=@sample_characteristic.name
    %tr
        %th Value
        %td=@sample_characteristic.value
    %tr
        %th Unit
        %td=@sample_characteristic.unit

- if can? :edit , @sample_characteristic
    =button_to "Edit sample_characteristic", edit_sample_characteristic_path(@sample_characteristic), method: 'get', class: 'btn btn-success'
- if can? :destroy , @sample_characteristic
    =button_to "Delete sample_characteristic", sample_characteristic_path(@sample_characteristic), method: 'delete', class: 'btn btn-danger', confirm: "Are you sure? We can't undo this ..."
