%h3 Investigations

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th.span1 Title
      %th.span1 Identifier
      %th.span2 &nbsp;
  %tbody
    - @investigations.each do |investigation|
      %tr
        %td= link_to(investigation.title, investigation)
        %td= investigation.identifier
        %td
          =link_to "Show", investigation_path(investigation), class: 'btn'
          -if can?(:edit, investigation)
            =link_to "Edit", edit_investigation_path(investigation), class: 'btn btn-success'

%br

= link_to 'Create new Investigation', new_investigation_path, class: 'btn btn-primary btn-large'
