%h3= @investigation.title

=link_to "Edit Investigation", edit_investigation_path(@investigation), method: 'get', class: 'btn btn-success'
=link_to "See all Investigations", investigations_path, method: 'get', class: 'btn'

%br
%br

%table.table.table-bordered
	%tr
		%th Title
		%td=@investigation.title
	%tr
		%th Identifier
		%td=@investigation.identifier
	-if @investigation.studies.count > 0
		%tr
			%th Studies
			%td 
				-@investigation.studies.each do |study|
					=link_to study.title, url_for(study)
					%br