%h3== Welcome to CollOS, #{ @user.name }
%hr
%p
    Your account has been created. You can now log into the service by going to
    %br=@url
    and using your basecamp credentials.

%p
    If you have any questions, just send an email to
    %br=mail_to "#{CONFIG.application.gmail_username}", nil, subject: "[CollOS] HELP!"
%p
    %b Team CollOS
