%h3== Welcome to CollOS, #{ @user.name }

%hr

Your account has been approved. You can now log into the service by going to

%br= @url

and using your basecamp credentials.
If you have any questions, just send an email to

%br= mail_to "itmat.apps@itmat.upenn.edu", "ITMAT Apps", subject: "HELP!"

%p Team CollOS
