=simple_form_for @user, html: {class: 'form-horizontal'} do |f|
    =f.input :name
    =f.input :email
    -if current_user.admin?
        = f.input :status, as: :radio_buttons
        = f.input :admin
    =f.button :submit

%h4 Addresses
=link_to "Add an Address", new_address_path(params: {user_id: @user.id}), class: 'btn'

- for addr in @user.addresses
    .box
        = render partial: "addresses/form", locals: {address: addr}
