%h3 User Information

%table.table.table-bordered
%thead
  %tr
    %th Name
    %td=@user.name
  %tr
    %th E-mail
    %td=@user.email
  %tr
    %th Status
    %td
      = @user.status
      -if current_user and current_user.admin?
        -if @user.active?
          |
          =link_to("Deactivate", deactivate_user_path(@user), method: 'post')
          |
        -else
          |
          =link_to("Activate", activate_user_path(@user), method: 'post')
          |
%p
=button_to "See all users", users_path(), class: 'btn', method: 'get'

%h4 Addresses

- for address in @user.addresses
  .row
    .span4.address
      = render partial: 'addresses/addr', locals: { address: address}
      = link_to "Remove this Address", remove_address_url(address, user_id: @user.id), method: 'post' , class: 'btn'

.row
  .span12
    =link_to "Create a new Address", new_address_url(user_id: @user.id), class: 'btn btn-primary'