-if current_user
  %li{ class: current_page?(login_path()) ? "active"  : ''}
    =link_to "Logout", logout_path
-else
  %li{ class: current_page?(login_path()) ? "active"  : ''}
    = link_to "Login/Register" , login_path
