%h3 Containers
-if params[:show_all]
    =link_to("Hide Retired Containers", containers_url())
-else
    =link_to('Show Retired Containers', containers_url(params: {show_all: true}))
%table.table.table-striped.table-condensed.table-bordered
    %thead
        %tr
            %th.span2 Ancestry
            %th.span2 Name
            %th.span2 Barcode
            %th.span2 Container Type
            %th.span1 Retired?
            %th.span2 &nbsp;
    %tbody
        -for container in @containers
            %tr
                %td=container.subtree.inspect
                %td=link_to container.label, container
                %td
                    =container.barcode.barcode
                    [
                    =link_to("Barcode set #{container.barcode.barcode_set}", fetch_barcodes_url(barcode_set: container.barcode.barcode_set))
                    ]
                %td=link_to container.container_type.name, container_type_url(container.container_type)
                %td=container.retired? ? "Yes" : "No"
                %td
                    =link_to "Show", container_path(container), class: 'btn'
                    - if can?(:edit, container)
                        =link_to "Edit", edit_container_path(container), class: 'btn btn-success'
                    -if can?(:destroy, container) and !container.retired
                        = link_to "Retire", container_path(container), method: 'delete', class: 'btn btn-danger'
=will_paginate(@containers)
=link_to "Create a new Container", new_container_path, class: 'btn btn-primary btn-large'
