%h3 Containers

=link_to "Create a new Container", new_container_path, class: 'btn btn-primary btn-large'
%br
%br

=link_to("Active Containers | ", containers_url(params: {is_not_retired: true}))
=link_to("Retired Containers | ", containers_url(params: {is_retired: true}))
=link_to("All Containers | ", containers_url(params[:show_all]))
=link_to("Universities | ", containers_url(params: {universities: true}))
=link_to("Laboratories | ", containers_url(params: {labs: true}))
=link_to("Freezers | ", containers_url(params: {freezers: true}))
=link_to("Boxes", containers_url(params: {boxes: true}))
%br

/-if params[:show_all]
/    =link_to("Hide Retired Containers", containers_url())
/    =@containers.count
/-else
/    =link_to('Show Retired Containers', containers_url(params: {show_all: true}))
/    =@containers.count

=will_paginate(@containers) 
="(#{@containers.count} containers)"

=form_tag edit_multiple_containers_path do
    %table.table.table-striped.table-condensed.table-bordered
        %thead
            %tr
                %th.span1
                %th.span2 Name
                %th.span1 Barcode
                %th.span2 Container Type
                %th.span2 Parent Container            
                %th.span1 Contains?
                %th.span3 &nbsp;
        %tbody
            -for container in @containers
                %tr
                    %td=check_box_tag "container_ids[]", container.id
                    %td=link_to container.name, container
                    %td
                        =container.barcode.barcode
                        /=link_to("Barcode set #{container.barcode.barcode_set}", fetch_barcodes_url(barcode_set: container.barcode.barcode_set))
                    %td=link_to container.container_type.name, container_type_url(container.container_type)
                    -if container.parent
                        %td=container.parent.name
                    -else
                        %td None
                    -if container.children.count > 0
                        %td=container.children.count
                    -else
                        %td=container.samples.count
                    %td
                        =link_to "Show", container_path(container), class: 'btn'
                        - if can?(:edit, container)
                            =link_to "Edit", edit_container_path(container), class: 'btn btn-success'
                        -if can?(:destroy, container) and !container.retired
                            = link_to "Retire", container_path(container), method: 'delete', class: 'btn btn-danger'
    =submit_tag "Edit selected", class: 'btn'
    /TODO: fix cases
    =submit_tag "Ship selected", class: 'btn'

=will_paginate(@containers)
=link_to "Create a new Container", new_container_path, class: 'btn btn-primary btn-large'
