%h1 About CollOS

%p
    <B>CollOS</B> stands for "<b>Coll</b>ection <b>o</b>f <b>S</b>amples". It is a lightweight system for minimally tracking the whereabouts of biological samples. In a sense, it facilitates
    %a(href='http://en.wikipedia.org/wiki/Biobank') biobanking
    in as minimal and low-friction as possible, given the problem statement.
%p
    To get a better sense of the functionality of the CollOS, check out the
    =link_to "Help page",help_path()




