%h1 About CollOS

%p
    <B>CollOS</B> stands for "<b>Coll</b>ection <b>o</b>f <b>S</b>amples". It is a lightweight system for minimally tracking the whereabouts of biological samples. In a sense, it facilitates
    %a(href='http://en.wikipedia.org/wiki/Biobank' target='_blank') biobanking
    in as minimal and low-friction as possible, given the problem statement.
    Available 
    %a(href='https://github.com/dimitras/collos' target='_blank') here.

%p
    <b>Our motivation</b>
    %br
    In the typical lab many bench investigators will come and go over the years and labs will accumulate a large collection of samples. Traditionally in most laboratories sample labeling and tracking of these samples is a problem that is left up to the individual bench investigators and it often amounts to no more than a few handwritten cryptic indications on the side of a tube and some notes in a notebook, or at best in an Excel spreadsheet. When people leave labs it can become very difficult for those remaining to pick up the pieces of their research, often because of an idiosyncratic and confusing documentation of their samples. The value of overcoming this problem is therefore enormous.
    However achieving a more sophisticated system, with barcoding and full sample tracking, has traditionally been too expensive for all but the most highly funded labs because of the significant overhead and expert systems support required.

%p
    To get a better sense of the functionality of CollOS, check out the
    =link_to "Help page.",help_path()





