%h1 F.A.Q.
    
%ol
	%li
		%b How do I add my sample?
		%br
		I first have to create or make sure there is the 
		=link_to "container",containers_path()
		, 
		=link_to "container type",container_types_path()
		, 
		=link_to "taxonomy",taxons_path()
		and
		=link_to "ontology term",ontology_terms_path()
		I need, then I create a new 
		=link_to "sample",samples_path()
	%li
		%b How do I ship my sample?
		%br	
		yadayada...
	%li
		%b How do I get the barcode sticker for my shipment?
		%br	
		Click on show in the sample you wish to ship, and get the Sample Barcode from the	
		=link_to "samples",samples_path()
    
