- if current_user.nil?
    %h3 Welcome!
    =render "sessions/form"
-else
    %br
    %h4 Search for samples/containers
    = form_tag(search_path, method: 'get', class: 'form-inline form-search') do
        .fieldset
            =text_field_tag :query, nil,class: 'span4', placeholder: '"PBF78E5" or "sample123" or "container123"'
            =submit_tag "Search", class:'btn btn-primary'
            =submit_tag "Advanced Search", class:'btn'
 
    %br
    %br

    %h4 Generate barcodes
    = render partial: "barcodes/generate_barcodes"

    / %h4 Fetch a barcode set
    / = render partial: "barcodes/fetch_barcodes"

    / %h4 Upload CSV of Annotations
    / = form_tag(upload_samples_path,method: 'post', class: 'form-horizontal') do
    /     .fieldset
    /         =file_field_tag :annotation_file,  class: 'file-field span4'
    /         =submit_tag "Upload Annotations", class:'btn btn-primary'


    %br
    %br
    
    %h4 Bulk upload
    %em==Upload your files to enter the samples in the system (file format #{link_to "help",help_path()}).
    %br
    %br
    / = form_tag(uploader_path, method: 'get') do
    /     .fieldset
    =submit_tag "ISA-Tab files", class:'btn'
    =submit_tag "CSV files", class:'btn'



    / = form_for :file_upload, :html => {:multipart => true} do |f| %
    /     = f.file_field :my_file
    /     = f.submit "Upload"