%h3 Studies

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th.span1 Title
      %th.span1 Identifier
      %th.span1 Description
      %th.span2 &nbsp;
  %tbody
    -@studies.each do |study|
      %tr
        %td= study.title
        %td= study.identifier
        %td= study.description
        %td
          =link_to "Show", study_path(study), class: 'btn'
          -if can?(:edit, study)
            =link_to "Edit", edit_study_path(study), class: 'btn btn-success'
          / -if can?(:destroy, study)
          /   =link_to "Retire", study_path(study), method: 'delete', class: 'btn btn-danger'

%br

=link_to 'Create a new Study', new_study_path, class: 'btn btn-primary btn-large'