%h3
    =@ontology_term.name
    -if @ontology_term.obsolete?
        %span.text-error(style='font-size: smaller;') * obsolete term *
%table.table.table-bordered
    %tr
        %th.span3 Term Name
        %td=@ontology_term.name
    %tr
        %th.span3 Source Ontology
        %td=link_to @ontology_term.ontology.prefix, @ontology_term.ontology
    %tr
        %th.span3 Accession
        %td=@ontology_term.accession
    %tr
        %th.span3 Term Definition
        %td=@ontology_term.definition

- if can? :edit , @ontology_term
    =button_to "Edit", edit_ontology_term_path(@ontology_term), method: 'get', class: 'btn btn-success'
- if can? :destroy , @ontology_term
    =button_to "Delete", ontology_term_path(@ontology_term), method: 'delete', class: 'btn btn-danger', confirm: "Are you sure? We can't undo this ..."
