# These are the necessary environment variables needed by the application.
# Fill in the proper values

BASECAMP_CLIENT_ID: XXXXXXXXX
BASECAMP_SECRET: XXXXXXXXX
GMAIL_USERNAME: donotreply@gmail.com
GMAIL_PASSWORD: secretpw123

development:
    REDIS_PROVIDER: redis://localhost:6379
test:
    REDIS_PROVIDER: redis://localhost:6379
production:
    REDIS_PROVIDER: redis://localhost:6379
