%h3==Barcode Set [#{@barcode_set_id}]
%table.table.table-striped
  %tr
    %th Barcode
  -for bc in @barcodes
    %tr
      %td=bc.barcode
%h4
  Download as:
  = link_to "CSV", fetch_barcodes_path(barcode_set: @barcode_set_id, format: "csv")
  |
  = link_to "XML", fetch_barcodes_path(barcode_set: @barcode_set_id, format: "xml")
  |
  = link_to "JSON", fetch_barcodes_path(barcode_set: @barcode_set_id, format: "json")
