%h3 Ontologies
%table.table.table-striped.table-condensed.table-bordered
    %theader
        %tr
            %th Name
            %th URI
            %th &nbsp;
    %tbody
        -for ontology in @ontologies
            %tr
                %td=ontology.name
                %td=ontology.uri
                %td
                    =link_to "Show", ontology_path(ontology), class: 'btn'
                    - if can?(:edit, ontology)
                        =link_to "Edit", edit_ontology_path(ontology), class: 'btn btn-success'
                    -if can?(:destroy, ontology)
                        = link_to "Destroy", ontology_path(ontology), method: 'delete', class: 'btn btn-danger'
=will_paginate(@ontologies)
= link_to "Create new ontology", new_ontology_path, class: 'btn btn-primary btn-large'
