%h3 Container Type Information

#buttons
    - if can? :edit , @container_type
        =link_to "Edit container type", edit_container_type_path(@container_type), method: 'get', class: 'btn btn-success'
    - if can? :destroy , @container_type
        =link_to "Retire container type", container_type_path(@container_type), method: 'get', class: 'btn btn-danger'
    =link_to "See all container types", container_types_path(), method: 'get', class: 'btn'

%br
%br

%table.table.table-bordered
    %tr
        %th.span3 Name
        %td=@container_type.name
    -if @type
        %tr
            %th Container Type Term

            %td
                =link_to "#{@type.name} [#{@type.ontology.prefix}: #{@type.accession}]", ontology_term_url(@type)
    %tr
        %th X Dimension
        %td=@container_type.x_dimension
    %tr
        %th Y Dimension
        %td=@container_type.y_dimension
    %tr
        %th Can contain other container type
        %td=@container_type.can_have_children? ? "Yes" : "No"
    %tr
        %th Can be shipped
        %td=@container_type.shipable? ? "Yes" : "No"
    %tr
        %th Retired
        %td=@container_type.retired? ? "Yes" : "No"

