// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.address {
    border-radius: 5px;
    border: 1px solid #333;
    background: #E0ECF8;
    padding: 5px;
    margin-bottom: 5px;
}