/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import 'twitter/bootstrap';
@import 'twitter/bootstrap/responsive';

$darkBlue: #06c;
$lightBlue: #AFDCEC;
$red: #E41B17;
$pink: #E6A9EC;

.logoText {
  float: left;
  padding-right: 8px;
  color: $red;
  vertical-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

.logoText:hover {
  color: $darkBlue;
  text-decoration: none;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#nav {
  border-bottom: 8px solid #06c;
  margin-top: 10px;
}

#bigtext {
  font-family: 'Helvetica', sans;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #700;
}

#smalltext {
  color: #700;
  font-family: 'Helvetica', sans;
  font-size: 15px;
  margin-left: 5px;
}

#headerlinks {
  text-align: right;
  vertical-align: bottom
}

