.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    %ul.nav
      %li.active.inverse
        %a.brand{ href: root_path}
          CollOS
      %li{ class: current_page?(params) ? "active"  : ''}
        = render "shared/login"
      %li{ class: current_page?(params) ? "active"  : ''}
        = link_to "Help", help_path
      %li{ class: current_page?(params) ? "active"  : ''}
        = link_to "About", about_path
      %li{ class: current_page?(params) ? "active"  : ''}
        = link_to "Contact", contact_path
