.navbar.navbar-static-top
  .navbar-inner
    %a.logoText{ href: root_path}
      CollOS
    %ul.nav
      = render "shared/login"
      %li{ class: current_page?(help_path()) ? "active"  : ''}
        = link_to "Help", help_path
      %li{ class: current_page?(about_path()) ? "active"  : ''}
        = link_to "About", about_path
      %li{ class: current_page?(contact_path()) ? "active"  : ''}
        = link_to "Contact", contact_path
      -if not current_page?(root_path)
        %li.offset3
          =form_tag query_samples_path, method: 'post', class: 'navbar-form navbar-search' do
            .fieldset
              =text_field_tag :query, nil, class: 'search-query  span3', placeholder: "Search"
